@using Blazorise
@using MagiCommon
@using MagiCommon.Extensions
@using MagiCommon.Models
@using Microsoft.Extensions.Logging

@inject ITokenProvider TokenProvider
@inject IMagiCloudAPI MagicApi
@inject ILogger<FilesComponent> Logger

<Upload OnUploadComplete="@FilesChanged" />

<h3>Files</h3>
@if (files?.Any() == true)
{
    <DataGrid TItem="ElasticFileInfo" 
                Data="@files"
                Sortable="true" 
                Virtualize="true" 
                VirtualizeOptions="@virtualizeOptions"
                SelectionMode="DataGridSelectionMode.Single"
                CommandMode="DataGridCommandMode.Default"
                FixedHeader="true"
                Editable
                EditMode="DataGridEditMode.Inline"
                RowRemoved="@RowRemoved"
                RowUpdated="@RowUpdated">
        <DataGridColumns>
            <DataGridCommandColumn TItem="ElasticFileInfo" NewCommandAllowed="false" EditCommandAllowed="true" DeleteCommandAllowed="true"  >
                <SaveCommandTemplate>
                    <Button ElementId="btnSave" Type="ButtonType.Submit" PreventDefaultOnSubmit Color="Color.Primary" Clicked="@context.Clicked">Save</Button>
                </SaveCommandTemplate>
                <CancelCommandTemplate>
                    <Button ElementId="btnCancel" Color="Color.Secondary" Clicked="@context.Clicked">Cancel</Button>
                </CancelCommandTemplate>
            </DataGridCommandColumn>
            <DataGridColumn TItem="ElasticFileInfo" Field="@nameof(ElasticFileInfo.Name)" Caption="Name" Editable>
                <DisplayTemplate>
                     <a href="@GetFileContentUri(context.Id)" target="_blank">@context.GetFullPath()</a>
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn TItem="ElasticFileInfo" Field="@nameof(ElasticFileInfo.Size)" Caption="File Size">
                <DisplayTemplate>
                    @((context.Size/1024.0).ToString("N1")) kiB
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn TItem="ElasticFileInfo" Field="@nameof(ElasticFileInfo.MimeType)" Caption="File Type" />
            <DataGridColumn TItem="ElasticFileInfo" Field="@nameof(ElasticFileInfo.IsPublic)" Caption="Public?" Editable/>
        </DataGridColumns>
        <ButtonRowTemplate>
            <Button Color="Color.Primary" Clicked="@context.EditCommand.Clicked" Disabled="@(selectedRow is null)">Edit</Button>
            <Button Color="Color.Danger" Clicked="@context.DeleteCommand.Clicked" Disabled="@(selectedRow is null)">Delete</Button>
        </ButtonRowTemplate>
    </DataGrid>
}
