@using Blazorise.DataGrid.Configuration
@using MagiCommon
@using MagiCommon.Models
@using Microsoft.Extensions.Logging

@inject ITokenProvider TokenProvider
@inject IMagiCloudAPI MagicApi
@inject ILogger<FilesComponent> Logger

<Upload OnUploadComplete="@FilesChanged" />

<h3>Files</h3>
@if (files?.Files?.Any() == true)
{
    <DataGrid TItem="ElasticFileInfo" 
                Data="@files.Files" 
                Sortable="true" 
                Virtualize="true" 
                VirtualizeOptions="@virtualizeOptions">
        <DataGridColumns>
            <DataGridColumn TItem="ElasticFileInfo" Field="@nameof(ElasticFileInfo.Name)" Caption="Name" >
                <DisplayTemplate>
                     <a href="@GetFileContentUri(context.Id)" target="_blank">@context.GetFullPath()</a>
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn TItem="ElasticFileInfo" Field="@nameof(ElasticFileInfo.Size)" Caption="File Size">
                <DisplayTemplate>
                    @((context.Size/1024.0).ToString("N1")) kiB
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn TItem="ElasticFileInfo" Field="@nameof(ElasticFileInfo.MimeType)" Caption="File Type" />
        </DataGridColumns>
    </DataGrid>
}
