@using MagiCommon
@using Microsoft.Extensions.Logging
@using System 
@using System.IO

@inject ITokenProvider TokenProvider
@inject IMagiCloudAPI MagicApi
@inject ILogger<Upload> Logger

<h3>Upload Files</h3>

<p>
    <FileEdit @ref="@fileEdit" Changed="@LoadFiles" Multiple Written="@OnWritten" AutoReset="false" MaxMessageSize=1048576 />
</p>

@if (totalUpload > 0)
{
    @if (!finished)
    {
        <p>Uploaded... @uploaded / @totalUpload</p>
        <Progress Value="@progress" Color="Color.Success">@progress %</Progress>
    }
    else
    {
        <p>Upload complete!</p>
    }
}
@if (errorMessages.Any())
{
    <ul>
    @foreach (var msg in errorMessages)
    {
        <li style="color:red">@msg</li>
    }
    </ul>
}

@code {
    private long maxFileSize = 1024 * 1024 * 1024 * 2L; //2 GB
    private int uploaded = 0;
    private int totalUpload = 0;
    private int? progress;
    private long totalBytes = 0;
    private long uploadedBytes = 0;
    private bool finished = false;
    private List<string> errorMessages = new();
    private FileEdit fileEdit;

    [Parameter]
    public EventCallback OnUploadComplete { get; set; }

    private async Task LoadFiles(FileChangedEventArgs e)
    {
        uploaded = 0;
        finished = false;
        progress = null;
        errorMessages.Clear();
        totalUpload = e.Files.Length;

        foreach (var file in e.Files)
        {
            try
            {
                progress = 0;
                uploadedBytes = 0;
                totalBytes = file.Size;
                Logger.LogInformation("Starting upload of file {FileName} of size {Size} bytes", file.Name, file.Size);
                var info = new MagiCommon.Models.ElasticFileInfo
                {
                    Name =  Path.GetFileNameWithoutExtension(file.Name),
                    Extension = Path.GetExtension(file.Name).TrimStart('.'),
                    MimeType = file.Type,
                    LastModified = file.LastModified,
                    Size = file.Size
                };
                using var fileStream = file.OpenReadStream(maxFileSize);
                await MagicApi.UploadFileAsync(info, fileStream);
                uploaded++;
                this.StateHasChanged();
            }
            catch (Exception ex)
            {
                Logger.LogError("File: {Filename} Error: {Error}", 
                    file.Name, ex.Message);
                errorMessages.Add($"{file.Name}: Error {ex.Message}");
            }
        }
        finished = true;
        progress = null;
        await OnUploadComplete.InvokeAsync();
    }

    void OnWritten( FileWrittenEventArgs e )
    {
        uploadedBytes = e.Position;
        totalBytes = e.File.Size;
        progress = (int)(100.0 * uploadedBytes / totalBytes);
        this.StateHasChanged();
        Console.WriteLine( $"File: {e.File.Name} {uploadedBytes} / {totalBytes} ({progress} %)" );
    }
}