@using Blazorise
@using Humanizer
@using MagiCommon
@using MagiCommon.Comparers.ElasticFileInfoComparers;
@using MagiCommon.Extensions
@using MagiCommon.Models
@using Microsoft.Extensions.Logging

@inject ILogger<FilesComponent> Logger
@inject ElasticManager Elastic

<Modal @ref=_newFolderModal>
    <ModalContent Centered>
        <Form>
            <ModalHeader>
                <ModalTitle>New Folder</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Validations @ref=_newFolderValidations StatusChanged=NewFolderValidatorsChanged>
                    <Field>
                        <FieldLabel>Folder Name</FieldLabel>
                        <Validation Validator=ExtendedValidationRules.IsFileName>
                            <TextEdit @bind-Text=_newFolderText Autofocus />
                            <ValidationError>
                                Invalid folder name.
                            </ValidationError>
                            <ValidationNone>
                                Folder name is required.
                            </ValidationNone>
                        </Validation>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color=Color.Secondary Clicked=@(() => CloseNewFolderModal(false))>Cancel</Button>
                <Button Type=ButtonType.Submit PreventDefaultOnSubmit Color=Color.Primary Disabled=@(!_newFolderValidatorsPassed) Clicked=@(() => CloseNewFolderModal(true))>
                    Create
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Div Flex=Flex.JustifyContent.Between>
    <Span>
        <Button Color=Color.Link Clicked=@(() => FilterToFolder(null)) Padding=Padding.Is1>
            <Icon Name=IconName.Home />
        </Button>
        @foreach (var parent in Parents)
        {
            <Span>/</Span>
            <Button Color=Color.Link Clicked=@(() => FilterToFolder(parent)) Padding=Padding.Is1>
                @parent.Name
            </Button>
        }
        @if (CurrentFolder is not null)
        {
            <Span>/</Span>
            <Button Color=Color.Link Clicked=@(() => FilterToFolder(CurrentFolder)) Padding=Padding.Is1>
                @CurrentFolder.Name
            </Button>
        }
    </Span>
    <Button Color=Color.Primary Clicked=OpenNewFolderModal Float=Float.End>
        New Folder
    </Button>
</Div>

@if (FilesAndFolders == null)
{
    <Paragraph>
        Loading files...
    </Paragraph>
}
else if (!FilesAndFolders.Any())
{
    <Paragraph>
        No files found...
    </Paragraph>
}
else
{
    <DataGrid   TItem=FileWrapper
                Data=FilesAndFolders
                DetailRowTrigger=@(w => (w.Item?.BackingObject as SearchResult)?.Highlights?.Any() == true)
                Sortable
                SelectionMode=DataGridSelectionMode.Single
                CommandMode=DataGridCommandMode.Default
                Responsive
                PageSize=10
                ShowPager
                ShowPageSizes
                Editable
                EditMode=DataGridEditMode.Inline
                RowRemoved=RowRemoved
                RowUpdated=RowUpdated
                UseValidation>
        <DataGridColumns>
            <DataGridCommandColumn NewCommandAllowed=false EditCommandAllowed DeleteCommandAllowed  >
                <SaveCommandTemplate>
                    <Button ElementId="btnSave" Type="ButtonType.Submit" PreventDefaultOnSubmit Color="Color.Primary" Clicked="@context.Clicked"> <Icon Name="IconName.Save"/> </Button>
                </SaveCommandTemplate>
                <CancelCommandTemplate>
                    <Button ElementId="btnCancel" Color="Color.Secondary" Clicked="@context.Clicked"> <Icon Name="IconName.Times"/> </Button>
                </CancelCommandTemplate>
                <EditCommandTemplate>
                    <Button ElementId="btnEdit" Color="Color.Primary" Clicked="@context.Clicked" Visibility="@(context.Item.BackingObject is null ? Visibility.Invisible : Visibility.Visible)"> <Icon Name="IconName.Edit"/> </Button>
                </EditCommandTemplate>
                <DeleteCommandTemplate>
                    <Button ElementId="btnDelete" Color="Color.Danger" Clicked="@context.Clicked" Visibility="@(context.Item.BackingObject is null ? Visibility.Invisible : Visibility.Visible)"> <Icon Name="IconName.Delete"/> </Button>
                </DeleteCommandTemplate>
            </DataGridCommandColumn>
            <DataGridColumn Field="Name" Caption="File Name" Editable Validator=ExtendedValidationRules.IsFilePath>
                <DisplayTemplate>
                    @if(context.BackingObject is ElasticFileInfo fileInfo)
                    {
                        <Anchor To="@("/view/" + fileInfo.Id)" Target="Target.Blank">
                            @fileInfo.GetFileName()
                        </Anchor>
                    }
                    else if (context.BackingObject is null || context.BackingObject is ElasticFolder)
                    {
                        ElasticFolder folderInfo = context.BackingObject as ElasticFolder;
                        <Button Clicked="@(() => FilterToFolder(folderInfo))">
                            @context.Name
                        </Button>
                    }
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn Field="Size" Caption="File Size">
                <DisplayTemplate>
                    @if (context.Size.HasValue)
                    {
                        <Span>
                            @((context.Size).Value.Bytes().ToString("#.##"))
                        </Span>
                    }
                    else
                    {
                        @string.Empty
                    }
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn Field="MimeType" Caption="File Type" />
            <DataGridColumn Field="LastUpdated" Caption="Last Update">
                <DisplayTemplate>
                    <Tooltip Text="@(context.LastUpdated?.LocalDateTime.ToString())">
                        @(context.LastUpdated?.LocalDateTime.Humanize())
                    </Tooltip>
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn Field="IsPublic" Caption="Public?">
                <DisplayTemplate>
                    @if (context.IsPublic == true)
                    {
                        <Button Clicked="@(async () => await UpdateVisibility(context, false))">
                            <Icon Name="IconName.Eye"/>
                        </Button>
                    }
                    else if (context.IsPublic == false)
                    {
                        <Button Clicked="@(async () => await UpdateVisibility(context, true))">
                            <Icon Name="IconName.EyeSlash" IconStyle="IconStyle.Regular"/>
                        </Button>
                    }
                </DisplayTemplate>
            </DataGridColumn>
        </DataGridColumns>
        <DetailRowTemplate>
            @if(context?.BackingObject is SearchResult searchResult && searchResult.Highlights?.Any() == true)
            {
                // print out all the highlights
               @((MarkupString)string.Join("<br/>", searchResult.Highlights))
            }
        </DetailRowTemplate>
    </DataGrid>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }
    private string UserId { get; set; }

    [Parameter]
    public EventCallback<string> OnFolderChanged { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            var authState = await AuthenticationStateTask;
            UserId = authState.User.GetUserId();
            await FilterToFolder(CurrentFolder);
            this.StateHasChanged();
        }
    }

    private List<ElasticFolder> Parents { get; set; } = new();
    private List<FileWrapper> FilesAndFolders { get; set; }
    public ElasticFolder CurrentFolder { get => _folder;
        set
        {
            if (_folder?.Id != value?.Id)
            {
                _folder = value;
                OnFolderChanged.InvokeAsync(_folder?.Id);
            }
        }
    }
    private ElasticFolder _folder = null;
    private Modal _newFolderModal;
    private Validations _newFolderValidations;
    private bool _newFolderValidatorsPassed;
    private string _newFolderText;

    private void NewFolderValidatorsChanged(ValidationsStatusChangedEventArgs e)
    {
        _newFolderValidatorsPassed = e.Status == ValidationStatus.Success;
    }
    private async void OpenNewFolderModal()
    {
        _newFolderText = null;
        await _newFolderModal.Show();
    }

    private async void CloseNewFolderModal(bool isOk)
    {
        if (isOk && (await _newFolderValidations.ValidateAll()))
        {
            await NewFolder(_newFolderText);
        }
        _newFolderText = null;
        await _newFolderModal.Hide();
    }

    //public void SortFiles()
    //{
    //    try
    //    {
    //        if (_files?.Any() == true)
    //        {
    //            _files.Sort(new NameComparer());
    //            FilterToFolder(CurrentFolder);
    //        }
    //    }
    //    catch (Exception ex)
    //    {
    //        Logger.LogError(ex, "Error setting file list");
    //    }
    //}

    public async Task FilterToFolder(ElasticFolder folder, int delay = 0)
    {
        if (delay > 0) await Task.Delay(delay);
        var newFilesAndFolders = new List<FileWrapper>();
        var (childFolders, childFiles) = await Elastic.GetFolderContentsAsync(UserId, folder?.Id);
        if (childFolders?.Any() == true)
        {
            newFilesAndFolders.AddRange(childFolders.Select(f => new FileWrapper(f)).OrderBy(f => f.Name).ToList());
        }
        if (childFiles?.Any() == true)
        {
            newFilesAndFolders.AddRange(childFiles.Select(f => new FileWrapper(f)).OrderBy(f => f.Name).ToList());
        }
        var newParents = folder is null ? new() : await Elastic.GetParentsForObjectAsync(UserId, folder);

        // Update properties last so we don't do a partial visual update
        Parents = newParents;
        FilesAndFolders = newFilesAndFolders;
        CurrentFolder = folder;
    }

    public async Task RowRemoved(FileWrapper wrapper)
    {
        var backing = wrapper.BackingObject;
        if (backing == null)
        {
            return;
        }
        Logger.LogInformation("Attempting to remove object {Name} ({Id})", backing.Name, backing.Id);
        if (await Elastic.DeleteObject(UserId, backing, false))
        {
            backing.IsDeleted = true;
            FilesAndFolders.Remove(wrapper);
        }
        await FilterToFolder(CurrentFolder, 1000);
    }

    public async Task RowUpdated(SavedRowItem<FileWrapper, Dictionary<string, object>> saved)
    {
        var backing = saved.OldItem.BackingObject;
        if (backing == null)
        {
            return;
        }
        backing.Name = saved.OldItem.Name;
        Logger.LogInformation("Updating object {Name} ({Id})", backing.Name, backing.Id);

        if (backing is ElasticFileInfo fileInfo)
        {
            await Elastic.FileRepo.IndexDocumentAsync(UserId, fileInfo);
        }
        else if (backing is ElasticFolder folderInfo)
        {
            await Elastic.FolderRepo.UpsertFolderAsync(UserId, folderInfo);
        }

        await FilterToFolder(CurrentFolder, 1000);
    }

    public async Task UpdateVisibility(FileWrapper wrapper, bool visible)
    {
        var backing = wrapper.BackingObject;
        await UpdateVisibility(backing, visible);
        await FilterToFolder(CurrentFolder, 1000);
    }

    private async Task UpdateVisibility(ElasticObject backing, bool visible)
    {
        Logger.LogInformation("Setting visibility of {Name} ({Id}) to {Visibility}", backing.Name, backing.Id, visible);
        backing.IsPublic = visible;
        if (backing is ElasticFileInfo file)
        {
            await Elastic.FileRepo.IndexDocumentAsync(UserId, file);
        }
        else if (backing is ElasticFolder folder)
        {
            await Elastic.FolderRepo.UpsertFolderAsync(UserId, folder);
        }
    }

    private async Task<bool> NewFolder(string folderName = "New Folder")
    {
        // Creates a new folder under the current one
        var newFolder = new ElasticFolder
        {
            Name = folderName,
            ParentId = CurrentFolder?.Id,
            UserId = UserId
        };
        Logger.LogInformation("Creating new folder {Name} under {ParentId}", newFolder.Name, newFolder.ParentId);
        var newId = await Elastic.FolderRepo.UpsertFolderAsync(UserId, newFolder);
        if (!string.IsNullOrWhiteSpace(newId))
        {
            newFolder.Id = newId;
            FilesAndFolders.Insert(0, new FileWrapper(newFolder));
            return true;
        }
        return false;
    }
}