@page "/trash"
@using MagiCloud.DataManager;
@using MagiCommon
@using MagiCommon.Comparers.ElasticFileInfoComparers;
@using MagiCommon.Extensions
@using MagiCommon.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Logging

@attribute [Authorize]

@inject IDataManager DataManager
@inject ElasticManager Elastic
@inject ILogger<TrashCan> Logger

<h3>Trash Can</h3>

@if (files?.Any() == true)
{
    <Button Color="Color.Danger" Clicked=EmptyTrash>Empty Trash</Button>
    <DataGrid
            TItem=ElasticObject
            Data=files
            PageSize=10
            Responsive
            ShowPager
            ShowPageSizes
            Sortable
            SelectionMode=DataGridSelectionMode.Single>
        <DataGridColumns>
            <DataGridColumn Field="@nameof(ElasticFileInfo.Name)" Caption="Name" />
            <DataGridColumn Field="@nameof(ElasticFileInfo.LastUpdated)" Caption="Last Updated">
                <DisplayTemplate>
                    @(context.LastUpdated.LocalDateTime)
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn Sortable=false>
                <DisplayTemplate>
                    <Button Color="Color.Primary" Clicked="@(async () => await UndeleteAsync(context))">Restore</Button>
                    <Button Color="Color.Danger" Clicked="@(async () => await PermanentlyDeleteAsync(context.Id))">Perma-Delete</Button>
                </DisplayTemplate>
            </DataGridColumn>
        </DataGridColumns>
    </DataGrid>
}
else
{
    <Paragraph>
        No files in trash...
    </Paragraph>
}


@code{
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }
    private string UserId { get; set; }

    private List<ElasticObject> files;

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var authState = await AuthenticationStateTask;
        UserId = authState.User.GetUserId();
        await GetDeletedObjects();
    }

    private async Task GetDeletedObjects()
    {
        try
        {
            files = null;
            // TODO: Get Folders await Elastic.FolderRepo.
            var fileList = await Elastic.FileRepo.GetDocumentsAsync(UserId, true);
            if (fileList?.Any() == true)
            {
                files = fileList.Select(f => f as ElasticObject).OrderBy(f => f.Name).ToList();
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error getting file list");
        }
    }

    private async Task PermanentlyDeleteAsync(string id)
    {
        await DeleteObject(id);
        files.RemoveAll(f => f.Id == id);
    }

    private async Task UndeleteAsync(ElasticObject elasticObject)
    {
        elasticObject.IsDeleted = false;
        if (elasticObject is ElasticFileInfo fileInfo)
        {
            await Elastic.FileRepo.IndexDocumentAsync(UserId, fileInfo);
        }
        else if (elasticObject is ElasticFolder folderInfo)
        {
            await Elastic.FolderRepo.UpsertFolderAsync(UserId, folderInfo);
        }

        files.Remove(elasticObject);
    }

    private async Task EmptyTrash()
    {
        foreach (var obj in new List<ElasticObject>(files) ?? new())
        {
            await DeleteObject(obj);
            files.Remove(obj);
        }
    }

    private async Task DeleteObject(ElasticObject obj)
    {
        if (await Elastic.DeleteObject(UserId, obj, true))
        {
            if (obj is ElasticFileInfo fileInfo)
            {
                DataManager.DeleteFile(obj.Id);
            }
        }
    }
}